.sectionhead{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 30px;
    }
#cv,
#projet,
#contact{
    color: black;
    text-decoration: none;
    word-spacing: normal;
}
nav #cv + #projet::before {
    content: "|";
    float: left;
    margin:10px;
    margin-top: 2px;
    width: 3px;
    line-height: 7px;
  }
  nav #projet + #contact::before {
    content: "|";
    float: left;
    margin: 10px;;
    margin-top: 2px;
    width: 3px;
    line-height: 7px;
  }

#nomcomplet{
    margin-right: 900px;
    margin-left: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.monimage1{/*nous appelons la classe fig1 créée dans notre HTML, puis nous rendons l"image flexible (flex), puis nous la cenrons.*/
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-top: 100px;
        align-items: left;
    }
    img{/*nous determinons la taille de l'image en appelant l'attribut img.*/
        width: 284px;
        height: 284px;
        left: 219px;
        align-self: left;
        outline: 1px ridge rgb(255, 254, 255);
        border-radius: 50%;
        background-color: gray;
        filter: grayscale(100%);
        margin-left: 300px;
        padding: 1px;  
    }
    .hellosection{
       position:absolute;
       top: 170px;
        color: #593E03;
        text-align: center;
        margin: auto;
        text-align:justify;
        margin-left: 650px;
        margin-right: 300px;
    }
    #helloword{
        font-size: 3rem;
        font-weight: bold;
        margin-top: 1px;
        margin-bottom: 20px;
    }
    #apropos{
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    #monpragraph{
        font-size: 0.9rem;
        font-weight: lighter;
        font-style: oblique;
        line-height: 20pt;/*nous definisons les interligne*/
        margin-top: 7px;
        margin-right: 100px;
        margin-bottom: 30px;
    }
    #cv1{
        display: inline;
        background-color: yellow;
        text-decoration: none;
        border-radius: 50px;
        top: 20px;
        /*margin-bottom: 15px;*/
        padding: 1rem;
        color: black;
    }
    #projet1{
        display: inline;
        background-color: rgb(255, 0, 0);
        text-decoration: none;
        border-radius: 50px;
        top: 20px;
        /*margin-bottom: 15px;*/
        padding: 1rem;
        color: black;
    }
    #contact1{
        display: inline;
        background-color: rgb(0, 174, 255);
        text-decoration: none;
        border-radius: 50px;
        top: 20px;
        /*margin-bottom: 15px;*/
        padding: 1rem;
        color: black;
    }
.piedpage{
        display: flex;
        background-color: white;
        margin-top: 80px;
        }
#phonel{
    flex-direction: row;
}
#couriel{
    flex-direction: row;
}
