nav ul {
  display: table;
  list-style: none;
  overflow: hidden;
  padding-top: 0;
  margin-right: 0%;
  margin-top: 0%;
}
nav li {
  display: table-cell;
  width: 1%;
}
nav li a {
  display: block;
  color: #2980b9;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  padding: 0 10px;
}
nav li a:hover {
  color: #ecf0f1;
  background: #2980b9;
}
nav #cv,#proj,#contact{
  width: 391px;
height: 39px;
top: 5px;
left: 69px;
font-family: Inter;
font-size: 22px;
font-weight: 200;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
margin-right: 0%;
}

nav #cv + #proj::before {
  content: "|";
  float: left;
  margin-top: 15px;
  width: 3px;
  line-height: 7px;
}
nav #proj + #contact::before {
  content: "|";
  float: left;
 
  margin-top: 15px;
  width: 3px;
  line-height: 7px;
}

#contact{
width: 391px;
height: 39px;
top: 5px;
left: 69px;
font-family: Inter;
font-size: 22px;
font-weight: 200;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
padding-top: 1%;
padding-right: 1%;
}
#barcv{
  border-top: 1px;
  margin-top: 1px;
}

#nomcomplet{
  width: 1348px;
height: 50px;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color:black;
padding-right: 60%;
margin-left: 0%;
}
nav{
  width: 1200px;
  height: 50px;
  top: 2px;
  left: 88px;
  
  }

  /*création du corp*/
#cvcv{
  width: 359px;
  height: 50px;
  top: 169px;
  left: 183px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
    
}
#pro,#backend,#react,#expertise,#langues{
  width: 386.96px;
  height: 72px;
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
 margin-top: 60px;
    
}
.listelangue{
  list-style: circle;
  overflow: visible;
  color: black;
}
main{
  margin-left: 100px;
  margin-right: 100px;
}

/*Ici commence mon pied de page*/.piedpage{
  position: absolute;
  bottom: 0%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  top: 100%;
  width: 92%;
  height: 3px;
  margin-top: 100px;
  padding-top: 100px;
  
}

/*ici, je*/
.hr{
  border-bottom: 1px solid black;
  width: 92%;
}

/*ici, j'organise l'alignement de mon pied de page*/
nav{
display: flex;
flex-direction: row;
background-color: white;
margin-top: 50px;
margin-left: 90px;

  }

#tel,
#couriel,
#contact{
  color: black;
  text-decoration: none;
  word-spacing: normal;
  margin-right: auto;
margin-left: auto;
}
#tel{
  font-size: 1.2rem;
  font-weight: bold;
  
}
#couriel{
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: bold;
  
}

#suiveznous{  

font-size: 1.2rem;
font-weight: bold;
text-decoration: none;
margin-right: auto;
margin-left: auto;

}
iconify-icon{
color: black;
}
#copyright{
margin-left: 100px;
font-size: 1.2rem;
font-weight: bold;
color: black;
margin-right: auto;
margin-left: auto;
}
div{
justify-content: space-between;
}

