nav ul {
    display: table;
    list-style: none;
    overflow: hidden;
    padding-top: 0;
    margin-right: 0%;
    margin-top: 0%;
}
  nav li {
    display: table-cell;
    width: 1%;
  }
  nav li a {
    display: block;
    color: #2980b9;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    padding: 0 10px;
  }
  nav li a:hover {
    color: #ecf0f1;
    background: #2980b9;
  }
  .ul--item{
    width: 391px;
  height: 39px;
  top: 5px;
  left: 69px;
  font-family: Inter;
  font-size: 22px;
  font-weight: 200;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 0%;
  }
  
  nav .nav__header--cv + .nav__header--projet::before {
    content: "|";
    float: left;
    margin-top: 15px;
    width: 3px;
    line-height: 7px;
  }
  nav .nav__header--projet + .nav__header--contact::before {
    content: "|";
    float: left;
   
    margin-top: 15px;
    width: 3px;
    line-height: 7px;
  }
  
  #barcv{
    border-top: 1px;
    margin-top: 1px;
  }
  
  .nav__header--logo{
    width: 1348px;
  height: 50px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color:black;
  padding-right: 60%;
  margin-left: 0%;
  }
  .nav__header--style{
    width: 1200px;
    height: 50px;
    top: 2px;
    left: 88px;
    display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 50px;
  margin-left: 90px;
    }
  


.picture--mypicture{/*nous appelons la classe fig1 créée dans notre HTML, puis nous rendons l"image flexible (flex), puis nous la cenrons.*/
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-top: 100px;
}
.picture--mypicture{/*nous determinons la taille de l'image en appelant l'attribut img.*/
        width: 284px;
        height: 284px;
        left: 219px;
        
        outline: 1px ridge rgb(255, 254, 255);
        border-radius: 50%;
        background-color: gray;
        filter: grayscale(100%);
        margin-left: 300px;
        padding: 1px;  
}
.Hello{
       position:absolute;
       top: 170px;
        color: #593E03;
        text-align: center;
        margin: auto;
        text-align:justify;
        margin-left: 650px;
        margin-right: 300px;
    }
.Hello--word{
        font-size: 3rem;
        font-weight: bold;
        margin-top: 1px;
        margin-bottom: 20px;
    }
.Hello--apropos{
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1px;
        margin-bottom: 1px;
    }
.Hello--paragraph{
        font-size: 0.9rem;
        font-weight: lighter;
        font-style: oblique;
        line-height: 20pt;/*nous definisons les interligne*/
        margin-top: 7px;
        margin-right: auto;
        margin-bottom: 60px;
    }


section .menu--item{
        display: inline;
    }
    section .menu--item--cv{
        height: 500px;
        width: 500px;
        margin: 10px;
        top: 50px;
        padding: 2rem;
        text-decoration: none;
        border-radius: 50px;
        color: black;
        background-color: yellow;
    }
    section .menu--item--projet{
        height: 500px;
        width: 500px;
        margin: 10px;
        top: 50px;
        padding: 2rem;
        text-decoration: none;
        border-radius: 50px;
        color: black;
        background-color: rgb(255, 0, 0);
    }
    section .menu--item--contact{
        height: 500px;
        width: 500px;
        margin: 10px;
        top: 50px;
        padding: 2rem;
        text-decoration: none;
        border-radius: 50px;
        color: black;
        background-color: rgb(0, 174, 255);
    }
    .footer--style{
        position: absolute;
        bottom: 0%;
        margin-bottom: 0%;
        padding-bottom: 0%;
        top: 100%;
        width: 92%;
        height: 3px;
        margin-top: 100px;
        padding-top: 100px;
        
    }
    
    /*ici, je*/
    .hr{
        border-bottom: 1px solid black;
        width: 92%;
        background-color: #2980b9;
    }
    
    /*ici, j'organise l'alignement de mon pied de page*/
    .footer__nav{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 50px;
    margin-left: 90px;
    
        }
    
    .footer--item{
        color: black;
        text-decoration: none;
        word-spacing: normal;
        margin-right: auto; 
        margin-left: auto;
        font-size: 1.2rem;
        font-weight: bold;
    }
   
    iconify-icon{
    color: black;
    }
    #copyright{
    margin-left: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin-right: auto;
    margin-left: auto;
    }
    div{
    justify-content: space-between;
    }
    
/* "============================== Media Query able =======================================" */
@media screen and (max-width: 1024px) {
    /* Ici commence l"entête */
    .ul--item{
        max-inline-size: 30%;
        max-width: 100px;
        max-height: 100%;
        padding-left: 15%;
        padding-left: 15%;
        padding-bottom: 19%;
        margin-left: 0%;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
        }
        .nav__header--logo{
        max-width: 100px;
        max-height: 100%;
        max-inline-size: 20%;
        padding-right: 0%;
        margin-left: 0%;
        padding-bottom: 19%;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color:black;
        font-weight: bold;
        }
    .main--style{
        display: flex;
        flex-direction:column-reverse ;
        justify-content: center;
        
    }
    .picture--mypicture{
       
        max-width: 350px;
        max-height: 100%;
        left: 219px;
        outline: 1px ridge rgb(255, 254, 255);
        border-radius: 50%;
        background-color: gray;
        filter: grayscale(0%);
        margin-left: 203px;
        padding: 1px;  
    }
    .picture--style{
        display: flex;
        align-items: center; 
         padding-right: 25%;
    }
    .Hello--style{
        display: flex;
        flex-direction: column;
        margin: 10px 50px 20px;
        margin-top:45%;
        margin-bottom:45%;
        text-align: center;
        
    }
    .Hello--paragraph{
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        text-align:justify;
       
    }
   
/*=============== "precising some behavior on the container Hello"======================== */
.footer__nav--display{
    display: flex;
        flex-direction: column;
       
        text-align: center;
        line-height: 2.5;
}
.footer--style{
    margin:0%;
    padding: 0%;
   
}
}

/* Media Query for screens smaller than 600px */
@media screen and (max-width: 667px) {
    /* Add your styles for screens smaller than 600px here */
    .nav__header--style{
        display: inline-block;
       text-align: center;
       font-weight: 900;
        }
    .ul--item{
        max-width: 3%;
        padding-left: 25%;
    }
    .ul--item, .nav__header--logo {
        font-size: 16px;
      }
    .main--style{
        display: flex;
        flex-direction:column-reverse ;
        justify-content: center;
        
    }
      .Hello--style {
        margin-top: 20%;
        margin-bottom: 20%;
      }
      .Hello--word{
        font-size: 22px
    }
  }
  
  /* Media Query for screens smaller than 800px */
  @media screen and (max-width: 800px) {
    /* Add your styles for screens smaller than 800px here */
    .nav__header--style {
      width: 100%;
      justify-content: center;
      margin-left: 0;
    }
    .ul--item, .nav__header--logo {
      font-size: 14px;
    }
        .picture--style,
        .footer__nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Hello--style {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center; /* to center-align the text */
          
        }
        .Hello--paragraph{
            display: flex;
          margin: 300px;
            text-align:justify;
           
        }
  }

  