nav ul {
  display: table;
  list-style: none;
  overflow: hidden;
  padding-top: 0;
  margin-right: 0%;
  margin-top: 0%;
}
nav li {
  display: table-cell;
  width: 1%;
}
nav li a {
  display: block;
  color: #2980b9;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  padding: 0 10px;
}
nav li a:hover {
  color: #ecf0f1;
  
}
.ul--item{
  width: 391px;
height: 39px;
top: 5px;
left: 69px;
font-family: Inter;
font-size: 22px;
font-weight: 200;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
margin-right: 0%;
}

nav .nav__header--cv + .nav__header--projet::before {
  content: "|";
  float: left;
  margin-top: 15px;
  width: 3px;
  line-height: 7px;
}
nav .nav__header--projet + .nav__header--contact::before {
  content: "|";
  float: left;
 
  margin-top: 15px;
  width: 3px;
  line-height: 7px;
}

#barcv{
  border-top: 1px;
  margin-top: 1px;
}

.nav__header--logo{
  width: 1348px;
height: 50px;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color:black;
padding-right: 60%;
margin-left: 0%;
}
.nav__header--style{
  width: 1200px;
  height: 50px;
  top: 2px;
  left: 88px;
  display: flex;
flex-direction: row;
background-color: white;
margin-top: 50px;
margin-left: 90px;
  }

  /*création du corp*/
.title--style{
  width: 359px;
  height: 50px;
  top: 169px;
  left: 183px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
    
}

#pro,#backend,#react,#expertise,.main--langues{
  width: 386.96px;
  height: 72px;
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
 margin-top: 60px;
    
}
.main__langues--listelangue{
  list-style: circle;
  overflow: visible;
  color: black;
}
.main--style{
  margin-left: 100px;
  margin-right: 100px;
}

.footer--style{
  position: absolute;
  bottom: 0%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  top: 180%;
  width: 92%;
  height: 3px;
  margin-top: 100px;
  padding-top: 100px;
  
}

/*ici, je*/
.hr{
  border-bottom: 1px solid black;
  width: 92%;
  background-color: #2980b9;
}

/*ici, j'organise l'alignement de mon pied de page*/
.footer__nav{
display: flex;
flex-direction: row;
background-color: white;
margin-top: 50px;
margin-left: 90px;

  }

.footer--item{
  color: black;
  text-decoration: none;
  word-spacing: normal;
  margin-right: auto; 
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: bold;
}

iconify-icon{
color: black;
}
.copyright--style{
margin-left: 100px;
font-size: 1.2rem;
font-weight: bold;
color: black;
margin-right: auto;
margin-left: auto;
}
div{
justify-content: space-between;
}
/* ======================================= Media Query ====================================  */

/* ======================================= Media Query ====================================  */
@media  screen and (max-width: 1024px) {
  /* Adjustments for screens with a maximum width of 1024px */
  /* Ici commence l"entête */
  .ul--item{
    max-inline-size: 30%;
    max-width: 100px;
    max-height: 100%;
    padding-left: 15%;
    padding-left: 15%;
    padding-bottom: 19%;
    margin-left: 0%;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    }
    .nav__header--logo{
    max-width: 100px;
    max-height: 100%;
    max-inline-size: 20%;
    padding-right: 0%;
    margin-left: 0%;
    padding-bottom: 19%;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color:black;
    font-weight: bold;
    }

    .title--style{
      padding-top: auto;
      margin-top: auto;
    }
    
    .main__langues--listelangue{
      text-align: left;
      padding-left: 0%;
    }
    .nav__footer--style{
      display: flex;
      max-width: 200px;
      max-height: 100%;
      max-inline-size: 20%;
      padding-right: 5%;
      margin-left: 5%;
      justify-content: space-between;
    }
    .nav__footer--tel{
      padding-right: 10%;
      margin-right: 30%;
    }
    .nav__footer--couriel{
      padding-right: 10%;
      margin-right: 30%;
    }
    .nav__footer--followUs{
      max-width: 200px;
      max-height: 200%;
      max-inline-size: 500%;
      padding-right: 20%;
      margin-right: 30%;
    justify-content: space-between;
    }
    .copyright--style{
      margin-left: 100px;
      font-size: 1.2rem;
      font-weight: bold;
      color: black;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      background-color: aqua;
      }
      .footer--style{
       
        position: absolute;
        bottom: 0%;
        margin-bottom: 0%;
        padding-bottom: 0%;
        top: 100%;
        width: 92%;
        height: 3px;
        margin-top: 100px;
        padding-top: 100px;
        
      }
    .iconify-icon{
          color: black;
          justify-content: space-between;
        }
/* ======================================= Media Query ====================================  */