.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  nav ul {
    display: table;
    list-style: none;
    overflow: hidden;
    padding-top: 0;
    margin-right: 0%;
    margin-top: 0%;
  }
  
  nav li {
    display: table-cell;
    width: 1%;
  }
  
  nav li a {
    display: block;
    color: #061016;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    padding: 0 10px;
  }
  
  nav li a:hover {
    color: #ecf0f1;
  }
  
  nav .nav__header--cv+.nav__header--projet::before {
    content: "|";
    float: left;
    margin-top: 15px;
    width: 3px;
    line-height: 7px;
  }
  
  nav .nav__header--projet+.nav__header--contact::before {
    content: "|";
    float: left;
  
    margin-top: 15px;
    width: 3px;
    line-height: 7px;
  }
  
  .bar--cv {
    border-top: 1px;
    margin-top: 1px;
  }
  
  .nav__header--logo {
  
    font-family: Inter;
    font-size: 2rem;
    font-weight: 10rem;
    line-height: 2rem;
    letter-spacing: 0rem;
    text-align: left;
    color: black;
    padding-left: 70px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .nav__header--style {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    background-color: white;
  
  }
  
  .ul--item {
  
    font-family: Inter;
    font-size: 2rem;
    font-weight: 10rem;
    line-height: 2rem;
    letter-spacing: 0rem;
    text-align: left;
    color: black;
  
  }
nav{
width: 1200px;
height: 50px;
top: 2px;
left: 88px;

}


.main__div--modify{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
gap: 85px;
    margin: 2%;
    margin-top: 2%;
  }

  .div--paragraph{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    text-align: justify;
    max-width:650%;
   

} 
.mypicture--style{
display: flex;
height: 100%;
max-width:150%;
border: 20px;
background: #DFDFDF;
border: 20px solid #DFDFDF;


}

/*   Start footer */
.footer--style {
    position: absolute;
    bottom: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    top: 100%;
    width: 92%;
    height: 3px;
    margin-top: 100px;
    padding-top: 100px;
  
  }
  
  /*ici, je*/
  .hr {
    border-bottom: 1px solid black;
    width: 92%;
    background-color: #2980b9;
  }
  
  /*ici, j'organise l'alignement de mon pied de page*/
  .footer__nav {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 50px;
    margin-left: 90px;
  
  }
  
  .footer--item {
    color: black;
    text-decoration: none;
    word-spacing: normal;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  iconify-icon {
    color: black;
  }
  
  .footer--copyright {
    margin-left: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin-right: auto;
    margin-left: auto;
  }
  
  div {
    justify-content: space-between;
  }
  