nav ul {
    display: table;
    list-style: none;
    overflow: hidden;
    padding-top: 0;
    margin-right: 0%;
    margin-top: 0%;
}
  nav li {
    display: table-cell;
    width: 1%;
  }
  nav li a {
    display: block;
    color: #2980b9;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    padding: 0 10px;
  }
  nav li a:hover {
    color: #ecf0f1;
    background: #2980b9;
  }
nav .menu--item{
    width: 391px;

margin-top: 2%;
margin-left: 500px;
font-family: Inter;
font-size: 22px;
font-weight: 200;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
margin-right: 0%;

  }

 
  .menu__style--cv + .menu__style--projet ::before{
    content: "|";
    float: left;
    margin-top: 15px;
    width: 3px;
    line-height: 7px;
  }
  .menu__style--projet + .menu__style--contact::before {
    content: "|";
    float: left;
    margin-top: 15px;
    width: 3px;
    line-height: 7px;
}
.menu__style--cv{
    font-family: Inter;
    font-size: 22px;
    font-weight: 200;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 0px;
    padding-left: 0px;
    }
/*.................. "Adding some specification on bouton projet" ........................*/
.menu__style--projet{
font-family: Inter;
font-size: 22px;
font-weight: 200;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
padding-right: 0px;
padding-left: 0px;
}
/*.................. "Adding some specification on bouton contact" ........................*/
.menu__style--contact{
font-family: Inter;
font-size: 22px;
font-weight: 200;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
padding-right: 0px;
padding-left: 0px;
}

.menu__item--logo{
    margin-top: 2%;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:black;
    margin-right: 80px;
}
.menu--style{
    width: 1200px;
    height: 50px;
    top: 2px;
    margin-left: 88px;
    display: flex;
    }
    


.picture--mypicture{/*nous appelons la classe fig1 créée dans notre HTML, puis nous rendons l"image flexible (flex), puis nous la cenrons.*/
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-top: 100px;
}
.picture--mypicture{/*nous determinons la taille de l'image en appelant l'attribut img.*/
        width: 284px;
        height: 284px;
        left: 219px;
        
        outline: 1px ridge rgb(255, 254, 255);
        border-radius: 50%;
        background-color: gray;
        filter: grayscale(100%);
        margin-left: 300px;
        padding: 1px;  
}
.Hello{
       position:absolute;
       top: 170px;
        color: #593E03;
        text-align: center;
        margin: auto;
        text-align:justify;
        margin-left: 650px;
        margin-right: 300px;
    }
.Hello--word{
        font-size: 3rem;
        font-weight: bold;
        margin-top: 1px;
        margin-bottom: 20px;
    }
.Hello--apropos{
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1px;
        margin-bottom: 1px;
    }
.Hello--paragraph{
        font-size: 0.9rem;
        font-weight: lighter;
        font-style: oblique;
        line-height: 20pt;/*nous definisons les interligne*/
        margin-top: 7px;
        margin-right: auto;
        margin-bottom: 60px;
    }


section .menu--item{
        display: inline;
    }
    section .menu--item--cv{
        height: 500px;
        width: 500px;
        margin: 10px;
        top: 50px;
        padding: 2rem;
        text-decoration: none;
        border-radius: 50px;
        color: black;
        background-color: yellow;
    }
    section .menu--item--projet{
        height: 500px;
        width: 500px;
        margin: 10px;
        top: 50px;
        padding: 2rem;
        text-decoration: none;
        border-radius: 50px;
        color: black;
        background-color: rgb(255, 0, 0);
    }
    section .menu--item--contact{
        height: 500px;
        width: 500px;
        margin: 10px;
        top: 50px;
        padding: 2rem;
        text-decoration: none;
        border-radius: 50px;
        color: black;
        background-color: rgb(0, 174, 255);
    }
    .footer{
        position: absolute;
        bottom: 0%;
        margin-bottom: 0%;
        padding-bottom: 0%;
        top: 100%;
        width: 92%;
        height: 3px;
        margin-top: 100px;
        padding-top: 100px;
        
    }
    
    /*ici, je*/
    .hr{
        border-bottom: 1px solid black;
        width: 92%;
    }
    
    /*ici, j'organise l'alignement de mon pied de page*/
    .footer__nav{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 50px;
    margin-left: 90px;
    
        }
    
    .footer--item{
        color: black;
        text-decoration: none;
        word-spacing: normal;
        margin-right: auto; 
        margin-left: auto;
        font-size: 1.2rem;
        font-weight: bold;
    }
   
    iconify-icon{
    color: black;
    }
    #copyright{
    margin-left: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin-right: auto;
    margin-left: auto;
    }
    div{
    justify-content: space-between;
    }
    
