.sectionhead{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 30px;
    }
#cv,
#projet,
#contact{
    color: black;
    text-decoration: none;
}
nav #cv + #projet::before {
    content: "|";
    float: left;
    margin:10px;
    margin-top: 5px;
    width: 3px;
    line-height: 7px;
  }
  nav #projet + #contact::before {
    content: "|";
    float: left;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: auto;
    width: 3px;
    line-height: 7px;
  }

#nomcomplet{
    margin-right: 700px;
    margin-left: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    
}
